{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/zoe_photo.jpg' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h4 id="hometext" class="font-weight-bold">---------> Zoe Jing <--------- </h4>
    <p>First year Information technology studnet at UNSW. </p>
  </div>
</div>

<h2 class="mt-5">Projects</h2>
<hr>
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" height="200" />
    </a>
    {% else %}

    <img src="{{ project.image.url }}" height="200" />
    {% endif %}
    <h3 style="color: #283E6E;">{{ project.tittle }}</h3>
    <p style="color: #7FB3D5;">{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}